.tot{
    display: flex;
    margin-top: 1px;
    padding-top: 10px ;
    padding:20px;
    
}
.table{
    border: 2px transparent #777c2e;
    text-align: center;
    background-image: linear-gradient(
			135deg,
			#1b2028 30%,
			#2c333e 100%,
            
		);

   

}
td{
    color: white;
    margin: 10px;
    background-color: #2c333e;
    height: 20px;
    width: 75px;
    justify-content: center;
    align-items: center;
    border: collapse 2px;
    
}

thead{
    font-family: Copperplate Gothic Light; 
    color: black;
    background-color:  rgb(197, 164, 79);
    padding: 1%;

}

.tbl{
    padding: 20px;
    justify-content: center;
    text-align: center;

}
/* ----------------------------------------------- */



.inputbox{
    position: relative;
    font-family:  Copperplate Gothic Light;
    height: 280px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid transparent;   
    background-color: #1b2028;
	border-radius: 16px;
    background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
    &:after {
		content: "";
		display: block;
		top: -5px;
		left: -5px;
		bottom: -5px;
		right: -5px;
		z-index: -1;
		position: absolute;
		border-radius: 16px;
		background-image: linear-gradient(
			135deg,
			#777c2e,
			#72734a 20%,
			#1b2028 30%,
			#2c333e 100%
		);
	}
} 

.inputbox:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }


.input{
    height: 30px;
    border-radius: 20px;
    border: rgba(160, 156, 156, 0.786) ridge 3px ;
    
}

.inputbtn{
    color: whitesmoke;
    height: 30px;
    border-radius: 20px;
    border: rgba(160, 156, 156, 0.786) ridge 3px ;
    background-color:  #2c333e ; 
   

}
.buttons{
    width: 200px;
    display: flex;
    justify-content: space-around;
    
    
}

.cat{
    text-align: center;
    color: grey;
    height: 37px;
    width:170px;
    border: rgba(160, 156, 156, 0.786) ridge 3px ;
    border-radius: 20px;
    background-image: linear-gradient(
			135deg,
			#1b2028 30%,
			#2c333e 60%,
            #777c2e 90%,
			#72734a 100%
            
		);

}

.number{
    text-align: center;
    color: grey;
    height: 27px;
    width:170px;
    border: rgba(160, 156, 156, 0.786) ridge 3px ;
    border-radius: 20px;
    background-image: linear-gradient(
        135deg,
        #1b2028 30%,
        #2c333e 60%,
        #777c2e 90%,
        #72734a 100%
        
    );

}

/* ---------------------------- */

.delete{   
    background-color: transparent;
    border: transparent;

   
}

.update{
    background-color: transparent;
    border: transparent;

    
}

/* ----------------------------- */

.userh1{
    font-family: Copperplate Gothic Light; 
    color: silver;
    font-size: x-large;
}

/* -------------------------------- */
.red{
    color: rgb(0, 0, 0);
    background-color: rgba(159, 27, 27, 0.863);
}

.green{
    border-radius: 2%;
    color: rgb(0, 0, 0);
    background-color: rgba(24, 187, 45, 0.863);
}